.classpath
.project
.settings/
target/
build/
classes
.gradle/
bin/
alarm-server/src/main/resources/application.properties
alarm-server/src/main/resources/database.properties

/alarm-client/package-lock.json
