app.name=Alarm server
app.description=${app.name} is a Spring Boot application

#email
app.email.from=
app.email.from.password=

app.email.to=

#sms
app.sms.account.sid=
app.sms.account.auth.token=
app.phone.number.to=
app.phone.number.from=
